// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$moreinfo-color:    rgba(255, 255, 255, 0.7);

.widget-simpleyoutube{
    padding-top: 0 !important;

    iframe{
        width: 690px;
        height: 340px;
    }
    .hint {
      font-size: 2px;
      color: $moreinfo-color;
      text-align: right;
      display: none;
    }
}
