// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$moreinfo-color:    rgba(255, 255, 255, 0.7);

.widget-simpleyoutube{
    iframe{
        box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    }
    .hint {
      font-size: 12px;
      color: $moreinfo-color;
      text-align: right;
      padding-bottom: 5px;
    }
}
