module Setup

  FEATURE_JENKINS_BUILD = true
  FEATURE_JENKINS_BUILD_SET = true
  FEATURE_GITlAB_OPEN_MERGE_REQUESTS = true

  def Setup._feature_toggle_check(feature_toggle, config)
    feature_toggle ? config : {}
  end

  def Setup.gitLab_open_MR
    _feature_toggle_check FEATURE_GITlAB_OPEN_MERGE_REQUESTS, {
        'gitlab' => {
            :server => 'https://gitlab.com',
            :user => 'Nrcq_osny8cW8ZdgFst3',
            :projects => [785506, 778249],
            :delay_fetch_per_project_sec => 30,
            :delay_update_ui_per_mr_sec => 10,
        }
    }
  end

  def Setup.jenkins_jobs
    _feature_toggle_check FEATURE_JENKINS_BUILD, {
        'apache_couch_db_job' => {
            :server => 'https://builds.apache.org',
            :title => 'CouchDB',
            :update => 30,
            :update_while_progress => 10
        }
    }
  end

  def Setup.jenkins_job_sets
    _feature_toggle_check FEATURE_JENKINS_BUILD_SET, {
        'apache_job_set' => {
            :server => 'https://builds.apache.org',
            :jobs => ['CouchDB', 'Allura-rat'],
            :update => 30
        }
    }
  end
end