module Setup
   def Setup.jenkins_jobs
     {
       'jenkins_job' => {
         :server => 'https://builds.apache.org',
         :title => 'CouchDB',
         :update => '30s'
       }
     }
   end
   def Setup.jenkins_job_sets
     {
       'jenkins_job_set' => {
         :server => 'https://builds.apache.org',
         :jobs => ['CouchDB','Allura-rat'],
         :update => '30s'
       }
     }
   end
end
