<% content_for :title do %>Redneck Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Redneck Monitor" data-text="Hell yeah! What the f*** are you looking for ?"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="promo" data-view="Simpleyoutube" data-url="https://www.youtube.com/embed/w8faZ9LRors" data-hint="*time to nut up or shut up"></div>
    </li>
  </ul>
</div>
