// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.3);

$ci-background:  darken($background-color, 15%);

// ----------------------------------------------------------------------------
// Widget-ci styles
// ----------------------------------------------------------------------------
.widget-ci {

  background-color: $background-color;

  input.ci {
    background-color: $ci-background;
    color: #fff;
  }

  .title {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

  .start-at {
    margin-top: -25px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
  }

}
